body {
    background: linear-gradient(270deg, #a2d919, #d9b319, #19d9d2);
    background-size: 600% 600%;
    animation: AnimationName 3s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.bungkus-tombol{
	position: relative;
	height: 150px;
	width: 150px;
	top: 300px;
}
.modal-trigger{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.card{
	width: 75px;
    height: 75px;
    background: #fafafa;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    transition:1s cubic-bezier(0.780, -0.005, 0.175, 1.000);
    margin-bottom: -70px;
}
#modal1{
	width: 300px;
	margin-top: 10px;
	position: relative;
	overflow: unset;
}
.modal,.modal .modal-footer,.modal-action{
	border-radius: 30px;
}
.modal:hover .card{
	top:-66px;
}
.modal .modal-close{
	margin-right: 10px !important;
}
.modal .modal-footer{
	height: 62px;
	margin-top: -43px;
}
.icon-form{
	font-size: 0;
	transition: 1s cubic-bezier(0.780, -0.005, 0.175, 1.000) 1s;
}
.modal:hover .icon-form{
	font-size: 75px;
}
.isi{
	opacity: 0;
	transition: 1s cubic-bezier(0.780, -0.005, 0.175, 1.000) 2s;
}
.modal:hover .isi{
	opacity: 1;
}
.icon-mata{
	right: 0;
	position: absolute;
}
